.container {
    overflow: hidden;

    .side-bar {
        width: 10rem;
        background-color: #fff;
    }
}


.label {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    padding: 5px;
    pointer-events: none;
}
