<div class="items">
  <p style="color: #000">Label</p>
  <ul>
    <li (click)="changesApplied.emit('Circle')">
      <img src="../assets/Image/circle.png" alt="Circle">
      Circle
    </li>
    <li (click)="changesApplied.emit('Rectangle')">
      <img src="../assets/Image/rectangular.png" alt="Rectangle">
      Rectangle
    </li>
    <li (click)="changesApplied.emit('Ellipse')">
      <img src="../assets/Image/oval.png" alt="Ellipse">
      Ellipse
    </li>
    <li (click)="changesApplied.emit('Text')">
      <img src="../assets/Image/font.png" alt="Text">
      Text
    </li>
  </ul>
</div>