.items {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: unset;

    li {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        padding: 5px;
        border: 1px solid;
        color: #000;
    }
}